.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;
    border: 1px solid black;
}

.title {
    justify-content: center; 
    background-color: yellow;
    border-bottom: 1px solid black; padding: 2px; 
}

.title h1 {
    text-align: center;
}

#container {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#container p {
    width: 40%;
}
#container img {
    width: 50%;
}

#list_container {
    padding-left: 15px;
    border-top: 1px solid black;
}

#list_container li a {
    color: rgb(139, 102, 33);
    text-decoration: none;
}

#list_container li a:hover {
    color: rgb(70, 58, 37);
    text-decoration: none;
}
